.achievements {
  &__wrapper {
    background-color: #f2f2f2;
    padding-bottom: 41px;
    padding-top: 20px;

    @media (min-width: $tablet-width) {
      background-color: #ffffff;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      background-color: #ffffff;
    }
  }


  &__title {
    padding-top: 42px;
    padding-bottom: 44px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: #d22856;
  }

  &__item {
    margin-bottom: 69px;
    position: relative;

    @media (min-width: $desktop-width) {
      width: 33%;
    }
  }

  &__label {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    padding-left: 50px;
  }

  &__list {
    padding-left: 20px;
    padding-right: 20px;


    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__input + label::before {
    content: "";
    position: absolute;
    left: -12px;
    top: -7px;
    width: 37px;
    height: 37px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 5px;
  }

  &__input + label:hover::before {
    border: 2px solid #283645;
  }

  &__input + label:active::before {
    border: 2px solid #d22856;
  }

  &__input:checked + label::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    left: 0;
    top: 6px;
    background-image: url("../img/tick.svg");
  }
}
