.catalog {
  &__title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 54px;
    padding-bottom: 60px;
    text-align: center;
    width: 280px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 436px;
    }

    @media (min-width: $desktop-width) {
      width: 538px;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-align: start;
    padding-top: 25px;
    padding-bottom: 14px;
  }

  &__time {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    padding-bottom: 25px;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 874px;
    }
  }

  &__rating {
    padding-bottom: 26px;


    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    display: block;

    @media (min-width: $tablet-width) {
      width: 300px;
    }
  }

  &__panorama {
    display: block;
    width: 100%;
    object-fit: cover;
    padding-left: 0;
    padding-right: 0;
  }

  &__item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      width: 300px;
    }
  }

  &__wrapper {
    background-color: #f2f2f2;
    padding-left: 17px;

    @media (min-width: $tablet-width) {
      width: 300px;
      height: 155px;
    }
  }

  &__list {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
