.contacts {
  text-align: center;
  margin-bottom: 11px;


  &__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 54px;
      padding-bottom: 33px;
      padding-top: 45px;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
      line-height: 61px;
      padding-top: 67px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #283645;
  }

  &__data {
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    color: #d22856;
    padding-top: 0;
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding-top: 4px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 21px;
    }
  }

  &__list {
    text-align: center;


    @media (min-width: $tablet-width) {
      padding-left: 11px;
      padding-right: 11px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 103px 100px;
      justify-content: space-around;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 98px;
      justify-content: space-around;
      width: 100%;
      padding: 12px 122px 56px 119px;
    }
  }

  &__location {
    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: center;
    }
  }

  &__info {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
