.footer {

  padding-top: 33px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }


  &__social {
    display: flex;

    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 172px;

    padding-top: 0;
    padding-bottom: 40px;


    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      width: 644px;
      padding: 4px 10px 40px 10px;
    }

    @media (min-width: $desktop-width) {
      width: 947px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      margin-top: 0;
    }
  }

  &__copyright {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      justify-content: flex-end;
      width: 155px;
    }
  }

  &__logotype {
    display: flex;
    align-items: baseline;
    gap: 13px;
    justify-content: space-between;
    width: 145px;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      left: 3px;
      top: -3px;
    }
  }

  &__logo {
    width: 145px;
    height: 40px;

    @media (min-width: $desktop-width) {
      width: 147px;
      height: 40px;
    }
  }
}
