.form {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 940px;
  }


  &__title {


    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    padding: 54px 20px 55px 20px;
    text-align: center;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-top: 44px;
      padding-bottom: 35px;
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
      width: 540px;
      padding-top: 90px;
      padding-bottom: 1px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {

      width: 800px;
      padding-bottom: 71px;
    }
  }

  &__list {
    &--app {
      @media (min-width: $desktop-width) {
        padding-left: 32px;
        padding-top: 44px;
      }
    }

    &--contacts {
      @media (min-width: $desktop-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 15px;
      }
    }
  }


  &__span {
    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: inline;
      text-align: center;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__legend {
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    color: #d22856;

    @media (min-width: $tablet-width) {
      position: static;
      transform: none;
    }

    &--contacts {
      @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $tablet-width) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    &--select {
      @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
        top: 37px;
      }

      @media (min-width: $desktop-width) {
        padding-left: 31px;
        padding-right: 31px;
        margin-left: -20px;
      }
    }

    &--app {
      @media (min-width: $tablet-width) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  &__fieldset {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 44px;
    padding-top: 42px;
    border: none;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-top: 2px;
    }


    @media (min-width: $tablet-width) {
      border: 2px solid #e5e5e5;
    }

    &--select {
      background-color: #f2f2f2;
      position: relative;
      padding-top: 111px;
      padding-bottom: 26px;

      @media (min-width: $tablet-width) {
        background-color: #ffffff;

        padding-top: 43px;
        padding-bottom: 31px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 0;
      }
    }

    &--app {
      @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
        order: 4;
      }

      @media (min-width: $tablet-width) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 57px;
        padding-bottom: 52px;
        padding-left: 60px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 34px;
        padding-left: 40px;
      }
    }

    &--contacts {
      @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
        padding-bottom: 23px;
        order: 3;
      }

      @media (min-width: $tablet-width) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-bottom: 58px;
        padding: 35px 58px 9px 58px;
      }

      @media (min-width: $desktop-width) {
        padding-bottom: 0;
      }
    }
  }


  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &--phone {
      @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
        padding-top: 32px;
      }

      @media (min-width: $tablet-width) {
        margin-bottom: 33px;
      }
    }

    &--row {
      @media (min-width: $tablet-width) {
        padding-bottom: 34px;

        &:last-child {
          padding-bottom: 17px;
        }
      }

      @media (min-width: $desktop-width) {
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    @media (min-width: $tablet-width) {
      &--row {
        flex-direction: row;
        align-items: center;
      }

      &--column {
        flex-direction: column-reverse;
        position: relative;

        @media (min-width: $desktop-width) {
          width: 46%;
          justify-content: flex-end;
          margin-bottom: 0;
        }
      }

      &--phone,
      &--email {
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          height: 59px;
          width: 59px;
        }
      }

      &--phone {
        &::after {
          background: url("../../img/phone_icon.png") no-repeat 50% 50% #e5e5e5;
        }
      }

      &--email {
        &::after {
          background: url("../../img/mail_icon.svg") no-repeat 50% 50% #e5e5e5;
        }

        .form__input {
          @media (min-width: $desktop-width) {
            flex-grow: 0;
          }
        }
      }
    }

    @media (min-width: $desktop-width) {
      &--row {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      &--row:not(:last-child) {
        margin-bottom: 57px;
      }
    }
  }


  &__label {
    color: #d22856;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-left: 23px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      margin-right: 20px;
    }

    &--phone {
      @media (min-width: $tablet-width) {
        margin-left: 20px;
        padding-top: 15px;
      }
    }

    &--name {
      @media (min-width: $desktop-width) {
        margin-right: 18px;
      }
    }
  }

  &__input {
    &::placeholder {
      font-size: 18px;
      color: rgba(40, 54, 69, 1);
    }

    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding-left: 20px;
    height: 61px;
    flex-grow: 1;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;


    &:not(:last-child) {
      @media (min-width: $tablet-width) {

      }
      margin-bottom: 42px;
    }

    &--app {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  &__choise {
    border: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }


    &::after {
      color: #d22856;
    }
  }

  &__item input:checked ~ &__choise {
    &::after {
      content: "";
    }
  }

  &__choise--radio {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: #d22856;
    }
  }

  &__choise--checkbox {
    width: 37px;
    height: 36px;
    border-radius: 1px;

    @media (min-width: $tablet-width) {
      height: 40px;
      margin-right: 21px;
    }

    &::after {
      display: block;
      width: 22px;
      height: 16px;
      background-image: url("../img/tick.svg");
    }
  }

  &__submit {
    background-color: #2aab6d;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      display: block;
      width: 94%;
    }
  }

  &__remark {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      text-align: right;
    }
  }

  &__star {
    color: #d22856;
  }

  &__fieldset--name {

    border: none;
    padding-bottom: 22px;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      order: 1;
    }

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      padding-top: 72px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 35px;
      padding-top: 14px;
    }
  }


  &__fieldset--achives {

    padding-top: 115px;
    padding-bottom: 44px;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      padding-top: 42px;
      margin-bottom: 58px;
      padding-left: 59px;
      padding-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 12px;

      .form__list {
        display: grid;
        grid-template-columns: 317px 291px 1fr;
        grid-template-rows: 81px;
        align-items: start;
      }
    }
  }


  &__fieldset--text {
    position: relative;
    padding-top: 74px;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      order: 5;
    }

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      padding: 37px 60px 46px 60px;
      margin-bottom: 66px;
    }
  }

  &__fieldset--submit {
    padding-top: 0;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-bottom: 20px;
      order: 6;
    }

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
      border: none;

      display: flex;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 48px;
    }
  }

  &__textarea {
    width: 100%;
    line-height: 27px;
    padding: 15px 20px 22px 20px;
    border: 2px solid #e5e5e5;
    min-height: 197px;

    @media (min-width: $tablet-width) {
      min-height: 192px;
    }

    &::placeholder {
      font-size: 18px;
      color: rgba(40, 54, 69, 1);
    }
  }
}
