.info {
  background-color: #1d2631;
  color: #ffffff;
  padding: 28px 20px 38px;

  &__button {
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    border: 3px solid #ffffff;
    border-radius: 29px;
    text-decoration: none;
    padding: 18px 36px;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }
}
