.interview {
  &__title {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: #d22856;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 62px;
  }
}
