.opportunity {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    background: #f2f2f2;
    position: relative;
    z-index: 2;
  }

  &__item {
    @media (min-width: $desktop-width) {
      width: 300px;
      text-align: center;
    }
  }
}
