@import "../mixins/var.scss";

.page-header {

  background-repeat: no-repeat;
  //background-size: contain;
  background-position: 50% 0%;

  @media (min-width: 500px) and (max-width: $tablet-width) {
    background-size: cover;
  }

  @media (min-width: 700px) {
    background-size: cover;
  }

  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    background-image: url("../img/back_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back_desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_desktop@2x.jpg");
    }
  }


  &__logo-image {
    display: block;

    @media (min-width: $tablet-width) {
      width: 145px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 147px;
    }
  }


  &__top {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 23px;
    padding-right: 16px;
    padding-top: 21px;
    padding-bottom: 21px;

    @media (min-width: $desktop-width) {
      padding-left: 130px;
      padding-right: 130px;
      padding-top: 30px;
      padding-bottom: 31px;
    }
  }


  &--index &__bottom {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: 50% 110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone@2x.png");
      background-size: 320px auto;
    }


    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      background-image: url("../img/phone_tablet.png");
      background-position: 84% 80px;
      padding-bottom: 123px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/phone_tablet@2x.png");
        background-size: 660px auto;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 130px;
      padding-bottom: 127px;
      padding-top: 100px;
      grid-template-rows: auto;
      background-image: url("../img/phone_desktop.png");
      background-position: 84% 80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/phone_desktop@2x.png");
        background-size: 1200px auto;
      }
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      .page-header__bottom {
        display: block;
      }
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      .page-header__bottom {
        display: block;
      }
    }
  }
}
