.page {
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
  font-weight: 400;

  &__body {
    min-height: 100%;
    margin: 0;
  }

  &__slogan {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 28px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-top: 23px;
    }
  }

  &__slogan--index {
    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-bottom: 314px;
      width: 280px;
    }


    @media (min-width: $tablet-width) {
      padding-top: 93px;
      font-size: 40px;
      line-height: 48px;
      width: 202px;
      padding-left: 10px;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
      line-height: 68px;
      padding: 0;
      margin: 0;
      width: 300px;
      margin-bottom: 36px;
    }
  }


  &__slogan--form {
    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-top: 30px;
      width: 270px;
      line-height: 32px;
      padding-bottom: 45px;
    }


    @media (min-width: 500px) and (max-width: $tablet-width) {
      padding-top: 36px;
      padding-bottom: 51px;
    }


    @media (min-width: $tablet-width) {
      padding-top: 67px;
      padding-bottom: 60px;
      width: 620px;
      margin: 0 auto;
      font-size: 50px;
      line-height: 68px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 59px;
      padding-bottom: 89px;
      width: 747px;
    }
  }

  &__slogan--catalog {
    padding-bottom: 79px;
    padding-top: 30px;
    line-height: 31px;
    width: 200px;

    @media (min-width: $tablet-width) {
      font-size: 50px;
      line-height: 68px;
      width: 380px;
      padding-top: 68px;
      padding-bottom: 128px;

      @media (min-width: $desktop-width) {
        padding-top: 60px;
        padding-bottom: 89px;
      }
    }
  }

  &__iphone {
    display: block;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: center;
    }
  }
}
