.rating {


  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;


  &__icon {
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      margin-right: 30px;
    }
    
  }

  &__like {
    @media (min-width: $desktop-width) {
      position: relative;
    }

  }
}
