.research {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    display: none;
  }


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    transform: translateY(-55px);
    background: #ffffff;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    padding-left: 130px;
    padding-right: 130px;
    width: 298px;
    height: 345px;
  }

  &__img {
    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      display: none;
    }


    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    @media (min-width: $desktop-width) {
      margin-right: 132px;
      width: 298px;
      height: 345px;
    }
  }

  &__title {
    @media (min-width: $tablet-width) {
      padding-top: 39px;
      // padding-bottom: 10px;
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 180px;
    }
  }

  &__description {
    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      // margin-bottom: 47px;
      width: 308px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
      width: 500px;
    }
  }

  &__link {
    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      color: #d22856;
      text-decoration: underline;
      margin-top: 2px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      padding-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
