.reviews {
  text-align: center;


  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }

  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      transform: translateY(-42px);
      background: #ffffff;
      padding-top: 42px;
    }
  }

  &__item {
    @media (min-width: $tablet-width) {
      //margin-top: 67px;
      padding-top: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 12px;
    }
  }

  &__author-name {

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;

    @media (min-width: $tablet-width) {
      order: 2;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__author-data {

    display: none;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      display: block;
      order: 3;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 34px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 30px;
    padding-top: 31px;
    padding-bottom: 31px;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      padding-top: 16px;
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
      order: 1;
      padding-bottom: 35px;
      padding-top: 27px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
      margin: 0 auto;
      margin-bottom: 0px;
      padding-left: 74px;
      padding-right: 74px;
      position: relative;
      &::after, &::before {
        position: absolute;
        content: '';
        width: 22px;
        height: 41px;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        left: 0;
        background-image: url("../img/arrow-left.svg");
      }

      &::after {
        right: 0;
        background-image: url("../img/arrow-right.svg");
      }
    }
  }

  &__author-info {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }

  }

  &__image {
    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      margin: 0 auto;
    }
  }
}
