.social {
  &__list {
    display: flex;
    width: 175px;
    justify-content: space-between;
    margin-bottom: 39px;


    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    &--form {
      @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
        margin-bottom: 38px;
      }
    }
  }

  &__link {
    display: flex;
    width: 51px;
    height: 51px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(40, 54, 69, 0.1);
    border-radius: 50%;
    color: #d22856;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__icon {
    display: block;
    margin: auto;
  }

  &__item {
    margin: 0 1px 0 -2px;


    &--form {
      @media (min-width: $tablet-width) {
        margin: 1px -7px 0 -2px;
      }
    }
  }
}
