.table {
  table-layout: fixed;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 2px solid #e5e5e5;
  }


  &__stroke {
    display: flex;

    &:last-child .table__cell {
      border-bottom-width: 0;
    }
  }

  &__cell {
    border: 2px solid #f5f5f5;
    color: #ffffff;
    background-color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 19px;
    padding-right: 20px;


    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      min-width: 280px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      height: 45px;
      width: 25%;
      display: block;
      padding-left: 0;
      padding-right: 0;
      padding-top: 11px;
      border: 1px solid#e5e5e5;
    }

    @media (min-width: $desktop-width) {
      height: 59px;
      width: 234px;
      padding-top: 20px;
    }
  }

  &__cell-title {
    color: #283645;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }


  &__option {
    color: #283645;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 30px;
      padding-left: 14px;
      padding-top: 8px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
      padding-left: 18px;
      padding-top: 14px;
    }
  }

  &__tariff {
    border: none;
    color: #ffffff;
    background-color: #283645;
    text-align: center;
    display: block;
    padding-top: 12px;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    height: 99px;

    &--badge::after {
      content: "ХИТ";
      position: absolute;
      width: 104px;
      height: 23px;
      background-color: #d22856;
      top: 20px;
      left: -22px;
      transform: rotate(-45deg);
    }

    @media (min-width: $tablet-width) {
      height: 80px;
      padding-left: 10px;
      width: 155px;

      &--badge {
        border-left: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2;
        width: 156px;
      }

      &--badge::after {
        top: 14px;
        left: -32px;
        font-size: 13px;
      }

      &:last-child {
        border-right: 2px solid #283645;
        width: 153px;
      }

      &:first-child {
        border-right: 2px solid #283645;
        width: 154px;
      }
    }

    @media (min-width: $desktop-width) {
      height: 97px;
      width: 236px;
      padding-top: 15px;
      padding-left: 14px;

      &:last-child {
        width: 236px;
      }

      &:first-child {
        width: 236px;
      }

      &--badge::after {
        top: 17px;
        left: -22px;
        font-size: 13px;
      }
    }
  }

  &__price {
    display: block;
    line-height: 26px;
    font-weight: 300;

    @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
      letter-spacing: 1.1px;
      margin-left: 5px;
    }


    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24px;
      margin-left: -7px;
    }

    @media (min-width: $desktop-width) {

      font-size: 24px;
      padding-bottom: 25px;
    }
  }

  &__name {
    display: block;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 0;
      margin-left: -8px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      margin-bottom: 3px;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;

    @media (min-width: $tablet-width) {
      display: block;
      margin: 0 auto;
    }
  }
}
